{% extends 'base.html.twig' %}

{% block page_style %}cs-page-contact{% endblock %}

{% block body %}

<cs-layout use-margin>
  <cs-badge range="half" index="1">
    <div class="cs-badge-contents-text cs-badge-contents-center">
      <h2>Login</h2>
      <p>Esta é uma área restrita.</p>

      {% if error %}
        <p class="cs-badge-contents-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
      {% endif %}
    </div>
  </cs-badge>

  <cs-badge range="half" index="7">
    <div class="cs-badge-contents-text">
      <form class="cs-badge-contents-form" method="post">
        <fieldset>
          <label>Nome de usuário</label>
          <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        </fieldset>

        <fieldset>
          <label>Senha</label>
          <input type="password" name="password" id="inputPassword" class="form-control" required autocomplete="current-password">
        </fieldset>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <fieldset class="message">
          <button class="cs-button" type="submit">Entrar</button>
        </fieldset>
      </form>
    </div>
  </cs-badge>
</cs-layout>

{% endblock %}
