{% extends 'base.html.twig' %}


{% block body %}
<section class="cl-page-title">
  <h2>{{ product.name }}</h2>
</section>

<section class="cl-page">
  {{ product.description }}
</section>
{% endblock %}
