/* Badge component

.cs-component-badge
  background-color: $grey-0a
  grid-column: 1/-1

  @for $i from 1 through 10
    &.i-#{$i}
      grid-column-start: $i
      &.half
        @if $i >= 7
          grid-column-end: -1
        @else 
          grid-column-end: 7

  .cs-badge-contents,
  .cs-badge-contents-thumbnail
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between

  .cs-flash-notice
    @include type(14px, 400)
    align-items: center
    background-color: $blue-0x
    color: $white
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-bottom: $space-24
    padding: $space-16
    width: 100%

  .cs-badge-contents-thumbnail
    justify-content: center

  .cs-badge-contents-center
    align-items: flex-start
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    margin-bottom: auto !important
    margin-top: auto !important

  .cs-badge-contents-text
    margin-bottom: $space-53
    margin-left: $column-width
    margin-top: $space-53
    margin-right: $column-width
    width: auto

    &.limited
      max-width: calc(#{$column-width} * 3)

    > svg
      display: block
      fill: $grey-0y
      margin-bottom: $space-16
      margin-left: auto
      margin-right: auto
      margin-top: $space-49
      max-height: 80px

    h1, h2
      align-items: center
      display: flex
      flex-direction: row
      margin-bottom: $space-8

      svg 
        fill: $grey-0y
        margin-right: $space-12
        &.stroke
          stroke: $grey-0y
          stroke-width: 1px

    .cs-badge-contents-text-area
      margin-top: $space-24

    a
      margin-top: $space-24

      &.center
        text-align: center

  &.half
    .cs-badge-contents-thumbnail
      margin-left: $column-width

      > img
        max-width: 100%
        width: 100%

  .cs-badge-contents-thumbnail
    margin-bottom: $space-49
    margin-top: $space-49
    margin-right: $column-width
    max-width: calc(#{$column-width} * 5)

    img
      display: inline-block
      max-width: calc(#{$column-width} * 2.5)
      -webkit-user-drag: none

  .cs-badge-contents-table
    @include type(14px, 400)
    color: $grey-0y
    display: block
    margin-bottom: $space-97
    margin-top: $space-97
    margin-right: $column-width
    width: calc(#{$column-width} * 5)

    h3, h4, h5
      margin-bottom: $space-8

    p
      margin-bottom: $space-24

    table
      display: block
      width: 100%

      &:not(:last-child)
        margin-bottom: $space-24

      tbody
        display: block
        width: 100%

      tr
        align-items: center
        display: flex
        flex-direction: row
        height: 34px
        justify-content: flex-start
        width: 100%

        &:nth-child(even)
          background-color: $grey-0a

        td:first-child
          @include type(14px, 400)
          color: $grey-0e
          direction: rtl
          height: 34px
          line-height: 34px
          margin-right: $space-16
          position: relative
          text-align: right
          width: 30%

          &::after
            background-color: $grey-0c
            content: ''
            height: 100%
            right: 0px
            position: absolute
            transform: translateX($space-24)
            width: 1px

        td
          @include type(14px, 600)
          color: $grey-0y
          display: inline-flex
          flex-direction: row
          height: 34px
          line-height: 34px
          margin-left: $space-16
          overflow: hidden
          position: relative
          text-overflow: ellipsis
          width: 70%
          white-space: nowrap

          span
            box-sizing: border-box
            display: block
            padding-right: $space-8
            position: relative
            width: 50%

            &:not(:first-child)
              padding-left: $space-8

              &::after
                background-color: $grey-0c
                content: ''
                height: 100%
                left: 0px
                position: absolute
                width: 1px

  .cs-badge-contents-alert
    align-items: center
    background-color: $red-0x
    color: $white
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: $space-24
    padding: $space-8

  .cs-badge-contents-form
    display: block
    width: 100%

    .message
      align-items: center
      display: flex
      flex-direction: row
      justify-content: space-between

      p
        @include type(12px, 300)
        margin-right: $space-24

    fieldset
      display: block
      width: 100%

      &:not(:last-child)
        margin-bottom: $space-24

      label
        @include type(12px, 300)
        color: $grey-0x
        display: block
        margin-bottom: $space-8
        width: 100%

      input, textarea
        @include type(14px, 400)
        box-sizing: border-box
        box-shadow: 0 0 0 1px $grey-0a
        color: $grey-0y
        display: block
        height: 36px
        outline: none
        padding: $space-8
        width: 100%

        &:focus
          box-shadow: 0 0 0 2px $blue-0x
          color: $grey-0t

      textarea
        resize: none
        height: 120px

// Mobile
@media (max-width: 900px)
  .cs-component-badge
    display: flex
    flex-direction: column
    margin-bottom: $space-m

    .cs-badge-contents-table
      margin: 0px
      margin-bottom: $space-24
      margin-top: 0px
      width: 100%

      p, h4
        margin-left: $space-32
        margin-right: $space-32
        width: calc(100% - calc(#{$space-32} * 2))

        &:not(:first-child)
          margin: $space-32

    .cs-badge-contents-form
      .message
        flex-direction: column
        justify-content: center

        div:not(:last-child)
          margin-bottom: $space-24

    .cs-badge-contents
      flex-direction: column

    .cs-badge-contents-text
      display: block
      margin: $space-32
      width: calc(100% - calc(#{$space-32} * 2))

    .cs-badge-contents-center
      margin-bottom: $space-32 !important
      margin-top: $space-32 !important

    .cs-badge-contents-thumbnail
      margin: 0px
      margin-bottom: $space-32 !important
      margin-left: $space-32 !important
      margin-right: $space-32 !important

      img
        max-width: 50%