<h3>Nova mensagem deixada no site da Casalit</h3>

<p><b>Nome completo</b>: {{ name }}</p>

<p><b>Assunto</b>: {{ subject }}</p>

<p><b>E-mail</b>: <code>{{ emailAddress }}</code></p>

<p><b>Mensagem</b>: <br> {{ message }}</p>