{% extends 'base.html.twig' %}


{% block body %}
<section class="cl-page-title">
  <h2>A Casalit</h2>
</section>

<section class="cl-page-picture">
  <img src="{{ asset('build/images/casalit.jpg') }}">
</section>

<section class="cl-page">
  <article class="cl-page-content cl-page-wrapper slideUpIn">
    <p >A Casalit é uma empresa brasileira especializada na fabricação de telhas e artefatos de fibrocimento. Com mais de 38 anos de experiência sua trajetória se iniciou em 1982 na cidade de Duque de Caxias, estado do Rio de Janeiro. De lá para cá, a Casalit vem buscando atender da melhor forma seus clientes, levando o conforto e praticidade aos lares das famílias brasileiras.</p>
    
    <p >Possui um parque industrial com ótima estrutura, sempre buscando aperfeiçoamento e modernização para fabricação de um produto de alta qualidade.</p>

    <p >A Casalit atende todo o estado do Rio de Janeiro, Espírito Santo, Minas Gerais, São Paulo e Bahia. Está sempre comprometida a atender a satisfação de seus clientes, buscando cada vez mais aprimorar seus produtos e serviços.  Levando no nome sua missão, fazer parte das construções de casas, é gratificante para Casalit saber que faz e continuará fazendo parte de muitos lares.</p>
    
    <h3 >Missão</h3>

    <p >Produzir e comercializar telhas e artefatos de fibrocimento de altíssima qualidade, que fazem parte de construções não só de casas, mas de lares, levando conforto e proteção, com responsabilidade social e respeito ao meio ambiente.</p>

    <h3 >Visão</h3>

    <p >Ser reconhecida como uma empresa de excelência no mercado brasileiro, por fabricar e comercializar telhas e artefatos de fibrocimento de alto padrão de qualidade.</p>

    <h3 >Valores</h3>

    <ul>
      <li >Ética e transparência;</li>
      <li >Respeito aos clientes, colaboradores e fornecedores</li>
      <li >Foco em resultados</li>
      <li >Respeito ao meio ambiente</li>
      <li >Qualidade</li>
    </ul>
  </article>
</section>
{% endblock %}
