/* Pages layout


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active 
  transition-duration: 0.5s
  transition-property: height, opacity, transform
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1)
  overflow: hidden

.slide-left-enter,
.slide-right-leave-active 
  opacity: 0
  transform: translate(2em, 0)

.slide-left-leave-active,
.slide-right-enter 
  opacity: 0
  transform: translate(-2em, 0)

.cs-view-contents
  display: block
  height: auto
  padding-top: 152px
  width: 100%

  a
    @include type(14px, 600)
    color: $blue-0x
    &:hover
      color: $purple-0x
    &:active
      color: $red-0x

  h1, h2
    @include type(28px, 700)
    color: $grey-0t
    display: block
    letter-spacing: -0.28px

  p, li
    @include type(14px, 400)
    color: $grey-0y
    line-height: 21px

  .cs-breadcrumb
    align-items: center
    display: flex
    flex-direction: row
    list-style: none

    li, a
      @include type(13px, 400)

    li
      color: $grey-0x

    .cs-bc-ref
      margin-right: $space-4

    .cs-bc-separator
      margin-left: $space-8
      margin-right: $space-8

    .cs-bc-path
      color: $grey-0y